<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <title>멋쟁이 사자처럼</title>

  <meta charset="utf-8">
  <meta property="og:title" content="멋쟁이 사자처럼" />
  <meta property="og:site_name" content="졸업 전에 내 회사 한번 가져봐야 하지 않겠나?" />
  <meta property="og:image" content="<%= asset_path 'thumb.jpg' %>" />
  <meta property="og:url" content="http://likelion.net" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="149190165235116" />
  <meta property="og:description" content="나만의 웹/앱 서비스를 갖고 싶은 비 컴퓨터공학 전공 서울대인에게 snuev.com 정도 짤 수 있는 실력을 갖추게 할 슈퍼 하드 집중 포커스 트레이닝이 시작된다."/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <%= stylesheet_link_tag "skeleton-v1.1", :media => "all" %>
  <%= stylesheet_link_tag "flexslider-v1.8", :media => "all" %>
  <%= stylesheet_link_tag "main-r9", :media => "all" %>
  <%= stylesheet_link_tag "media-queries-r9", :media => "all" %>
  <%= stylesheet_link_tag "sprites-r7", :media => "all" %>
  <%= stylesheet_link_tag "theme-default-r6", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "jquery-1.8.2.min.js" %>
  <%= javascript_include_tag "jquery.flexslider-v1.8.min" %>
  <%= javascript_include_tag "jquery.ba-hashchange-v1.3.min" %>
  <%= javascript_include_tag "main-r9.js" %>

  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>" />
  <link rel="apple-touch-icon" href="<%= asset_path 'apple-touch-icon.png' %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path 'apple-touch-icon-72x72.png' %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path 'apple-touch-icon-114x114.png' %>">
  <!-- Allow IE to render HTML5 -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37820043-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>
<body>

<header>
  <div class="container">
    <div class="sixteen columns alpha omega">
      <h1 class="logo">
        <a href="/">
          <img src="<%= asset_path 'logo.png' %>" alt="likelion" class="scale-with-grid hide-for-mobiles" />
          <img src="<%= asset_path 'logo-mobile.png' %>" alt="likelion" class="scale-with-grid mobiles-only" />
        </a>
      </h1>

      <nav class="menu">
        <ul>
          <li><a href="#home" class="active">소개&nbsp;&nbsp;<br /><span>멋쟁이 사자처럼은 뭔지</span></a></li>
          <li><a href="#founders">사람들&nbsp;&nbsp;<br /><span>누가 설립 했는지</span></a></li>
          <li><a href="#plan">그리는 꿈&nbsp;&nbsp;<br /><span>어떤걸 함께하려는지</span></a></li>
          <li><a href="#recruit">함께하기&nbsp;&nbsp;<br /><span>함께하길분은 여기로</span></a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="bottom-gradient">
    <span class="left"></span>
    <span class="center"></span>
    <span class="right"></span>
  </div>  
</header>


<div id="main" role="main">

<article id="home">
  <div class="container">
    
    <!--FACEBOOK-->
    <div id="facebook_division" style="margin-bottom:5px;margin-left:5px;">
      <div class="fb-like" data-href="http://likelion.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=149190165235116";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!--FACEBOOK-->

    <div class="row box dark">
      <div class="seven columns">
        <div class="welcome-container">
        <h1>생각 끌어내기</h1>
        <h5>'내가 프로그래밍만 할 줄 알았다면 진짜...'<br>&nbsp;</h5>
        <h5>기술적 장벽때문에 본인의 생각을 세상 밖으로 끌어내지 못하신 분들과 2013년 감동의 순간을 만들어 가고 싶습니다. 프로그래밍 경험 전혀 필요 없고, 심지어 컴맹이라도 상관없습니다. 기술적인 부분은 저희가 쌓아드립니다. 여러분이 집중 해야 할 일은 <span style="text-decoration:underline">곧 세상에 태어날 여러분의 생각을 다듬는 일</span> 입니다.<br>&nbsp;</h5>
        <h5>이미 'snuev.com'와 '비올레타, 사랑해!'로 서울대 여러분께 다가간적이 있었던, 이두희(와플스튜디오 설립)와 최용철(서울대 벤처창업네트워크 18대 회장)이 만나, <span style="text-decoration:underline">전에 없던 서울대 동아리</span>를 만드려고 합니다. 멋쟁이 사자처럼.</h5>
        </div>
      </div>
      
      <div class="nine columns">
        <div class="flexslider">
          <ul class="slides notloaded">
            <li><img src="<%= asset_path 'slides/lion.png' %>" alt="" /></li>
            <li><img src="<%= asset_path 'slides/snuev.png' %>" alt="" /></li>
            <li><img src="<%= asset_path 'slides/love.png' %>" alt="" /></li>
          </ul>
        </div>      
      </div>
    </div><!-- .row -->
  
    <div class="one-third column box light featured">
      <div class="headset price clearfix">
        <img src="<%= asset_path 'empty.gif' %>" alt="" class="large-icons icon-menu" />
        <h4>[1월 - 2월]&nbsp;&nbsp;멤버모집</h4>
      </div>
      <div class="bottom-gradient add-top add-bottom">
        <span class="left"></span>
        <span class="center"></span>
        <span class="right"></span>
      </div>
      <p><strong>함께할 멤버를 모집하는 기간입니다.</strong></p>
      <p>총 인원은 <strong>25명을 선발</strong> 할 예정이며, 필요한 경우에는 면접을 진행 하겠습니다. 서울대학교 학부 재학/휴학생이면 누구나 지원 가능하며, 비 공대생, <strong>프로그래밍 경험이 없는 학생을 중심으로 선발</strong> 할 계획입니다. 극 소수의 의지가 높은 비 서울대생도 선발 할 수 있습니다.</p>
      <a href="#recruit" class="button featured animate">지원 하러 가기</a>
    </div><!-- .columns -->

    <div class="one-third column">
      <div class="headset price clearfix">
        <img src="<%= asset_path 'empty.gif' %>" alt="" class="large-icons icon-font" />
        <h4>[3월 - 6월]&nbsp;&nbsp;공부</h4>
      </div>
      <div class="bottom-gradient add-top add-bottom">
        <span class="left"></span>
        <span class="center"></span>
        <span class="right"></span>
      </div>
      <p><strong>집중 공부를 하는 기간입니다.</strong></p>
      <p>주 3회 월/수/금, 저녁 7시 - 9시, 서울대에서 진행을 할 예정이고, HTML, JS, Database, Network 등 <strong>컴퓨터공학 전반적 내용을 웹/앱 서비스 특화</strong>해서 진행 할 계획입니다. <strong><u>결코 만만한 과정은 아닐겁니다.</u></strong> 하지만 세달 잘 보내면, snuev.com 정도 구현 할 수 있는 능력을 갖을 겁니다.</p>
      <p>여러분의 생각들을 다른 사람들과 공유해가면서 꾸준히 다듬는 기간이기도 합니다.</p>
    </div><!-- .columns -->
    
    <div class="one-third column">
      <div class="headset price clearfix">
        <img src="<%= asset_path 'empty.gif' %>" alt="" class="large-icons icon-burst" />
        <h4>[7월 - ]&nbsp;&nbsp;제작</h4>
      </div>
      <div class="bottom-gradient add-top add-bottom">
        <span class="left"></span>
        <span class="center"></span>
        <span class="right"></span>
      </div>
      <p><strong>배운걸 써먹는 기간입니다.</strong></p>
      <p>평소에 "이런 웹/앱 서비스는 꼭 만들어 보고 싶었어."라고 생각했던 것들을 <strong>본인의 손으로 직접 구현</strong>하는 기간입니다. 그게 서울대 학생을 대상으로 하는 서비스든, 교육과 관련된 봉사든 <strong>모든것은 제작자 마음</strong>입니다. 매우 의미있는 여름 방학이 될 것입니다.</p>
      <p>세상의 빛을 본 내 작품을 보고 <strong><span style="text-decoration:underline">감동을 느끼는 순간</span></strong>이기도 하고요.</p>
    </div><!-- .columns -->
    <div class="bottom-gradient between-rows">
      <span class="left"></span>
      <span class="center"></span>
      <span class="right"></span>
    </div>
  </div><!-- .container -->
</article>


<article id="founders" class="dark">
  <div class="container">
    <h1>사람들</h1>
    <div class="row">
      <h4>이두희</h4>
      <p>서울대학교 컴퓨터공학부 학부 03, 석사 08, 박사 10학번</p>
      <div class="one-third column">
        <img src="<%= asset_path 'duhee.png' %>" alt="" class="scale-with-grid featured" />
      </div><!-- .columns -->
      <div class="two-thirds column">
        <ul class="tabs">
          <li><a class="active" href="#simple">소개</a></li>
          <li><a href="#product">만든것들</a></li>
          <li><a href="#publication">써낸것들</a></li>
        </ul>

        <ul class="tabs-content">
          <li class="active" id="simple">
            <ul class="square">
              <li>인생 열심히 살고 있음</li>
              <li>울트라캡숑 창업</li>
              <li>서울대학교 웹개발동아리 와플스튜디오 설립 및 초대회장</li>
              <ul class="circle">
                <li>서울대학교 강의평가 snuev.com 기획/개발/운영총괄</li>
              </ul>
              <li>서울대학교 중앙전산원 관리자 권한 획득 후, 교수님께 혼남</li>
              <li>egloos 관리자 권한 획득 후, SK 상품권 선물로 받음</li>
            </ul>
          </li>
          <li id="product">
            <ul class="square">
              <li>서울대학교 강의평가 'snuev.com' 기획/개발총괄/운영총괄, 2008 - present</li>
              <li>명지대 강의평가, 숙명여대 강의평가 등 전국 10여개 대학교의 학생들 강의평가 기획 멘토 및 개발 지원, 2012</li>
              <li>전세계 대학생네트워크 'klassmate' 기획/개발총괄, 2011</li>
              <li>드림컨설턴트 개발참여, 2010</li>
              <li>소셜커머스 '쿠폰잇수다(Frograms)' 개발, 2010</li>
              <li>소셜한 소셜커머스 '탐스타운', 'sweetory' 기획/개발총괄, 2010</li>
              <li>최고의 선생님을 찾고 리뷰하자, '올티쳐' 개발참여, 2009</li>
              <li>포털 검색어 기반 트렌드 분석기 'MDMiner' 개발총괄, 2008</li>
              <li>위치 기반 친구 만들기, '앞집누나' 기획/개발, 2008</li>
              <li>온라인 프리젠테이션 툴 '물통 ver1.0' 기획/개발참여, 2008</li>
              <li>서울대학교 심리학과 실험신청 페이지 'psych.doo2.net' 및 각종 심리학 실험도구 기획/개발, 2008</li>
              <li>서울대학교 10개 이상 연구실 페이지 제작</li>
              <li>서울대학교 성희롱/성폭력 상담소 '성희롱 예방교육' 개발총괄, 2008</li>
              <li>snuev.com의 기반이 되었던 wafflet egg 버전 개발, 2007</li>
              <li>스타트업 '플레이버 프로젝트', 2007 </li>
              <li>스타트업 '논술마인드', 2007 </li>
              <li>인터넷쇼핑몰 '야야다이어리' 개발, 2007 </li>
              <li>리듬게임 '배틀댄스' 개발 참여, 2006</li>
              <li>게임제작 툴, '조물조물' 기획/개발, 서울대학교 컴퓨터공학전 1위, 2006</li>
              <li>'Zigbee USN Network Monitoring' 기획/개발, 산업자원부장관상 2006</li>
              <li>3D 리듬게임 'super hand' 기획/개발총괄, 서울대학교 컴퓨터공학전 2위, 2004</li>
            </ul>
          </li>
          <li id="publication">
            <ul class="square">
              <li>번역서</li>
              <ul class="circle">
                <li>이성원, 윤주식, <strong>이두희</strong>, <u>아이폰 기능을 무한 확장할 수 있는 아이폰 액세서리 디바이스 개발</u>, 에이콘출판사, 2011</li>
                <li>이범기, 전재호, <strong>이두희</strong>, <u>Cassandra High Performance Cookbook</u>, 2013 출판예정</li>
                <li><strong>이두희</strong>, 박만기, 황호성, <u>HTML5: Designing Rich Internet Applications</u>, 출판예정</li>
              </ul>
              <li>논문(selected)</li>
              <ul class="circle">
                <li><strong>Duhee Lee</strong>, Jong-Chan Kim, Chang-Gun Lee, Kanghee Kim, <u>mRT-PLRU: A General Framework for Real-Time Multi-Task Executions on NAND Flash Memory</u>, accepted to IEEE Transactions on Computers, 2013. (SCI)</li>
                <li>Jong-Chan Kim, <strong>Duhee Lee</strong>, Chang-Gun Lee, Kanghee Kim, <u>RT-PLRU: A New Paging Scheme for Real-Time Execution of Program Codes on NAND Flash Memory for Portable Media Players</u>, in IEEE Transactions on Computers, Vol. 60, Issue 8, pp. 1126-1141, Aug. 2011. (SCI)</li>
                <li><strong>Duhee Lee</strong>, Chang-Gun Lee, Kanghee Kim, <u>A Generic Framework for Real-Time Program Executions on NAND Flash Memory in Multi-Tasking Embedded Systems</u>, in 30th IEEE Real-Time Systems Symposium (RTSS), Washington, D.C., USA, Dec. 2009. (SCI)</li>
                <li><strong>Duhee Lee</strong>, Chang-Gun Lee, Kanghee Kim, <u>Real-time code execution on NAND flash memory supporting wide-spectrum of input data for multiple tasks</u>, in International Workshop on Software Support for Portable Storage (IWSSPS) in conjunction with ESWEEK, France, Oct. 2009.</li>
                <li>Jong-chan Kim, <strong>Duhee Lee</strong>, Chang-Gun Lee, Kanghee Kim, Eun Young Ha, <u>Real-Time Program Execution on NAND Flash Memory for Portable Media Players</u>, in 29th IEEE Real-Time Systems Symposium (RTSS), Barcelona, Spain , Nov. 2008. (SCI)</li>
                <li><strong>Duhee Lee</strong>, Jong-Chan Kim, Chang-Gun Lee, <u>Practical Paging Strategy for Real-Time Code Execution of Media Player on NAND Flash Memory</u>, in The International Workshop on Software Support for Portable Storage (IWSSPS) in conjunction with ESWEEK, Atlanta, USA, 2008.</li>
              </ul>
            </ul>
          </li>
        </ul>
      </div><!-- .columns -->
    </div><!-- .row -->

    <div class="row">
      <h4>최용철</h4>
      <p>서울대학교 컴퓨터공학부, 기계항공공학부 복수전공 07학번</p>
      <div class="one-third column">
        <img src="<%= asset_path 'yongchol.png' %>" alt="" class="scale-with-grid featured" />
      </div><!-- .columns -->
      <div class="two-thirds column">
        <ul class="tabs">
          <li><a class="active" href="#yongchol">소개</a></li>
        </ul>

        <ul class="tabs-content">
          <li class="active" id="yongchol">
            <ul class="square">
              <li>서울대학교 학생벤처네트워크 snusv 18대 회장</li>
              <li>제11회, 제12회 대한민국 대학생벤처창업 경진대회 조직위원회</li>
              <li>2011년 MIT-Global Startup Workshop in Seoul 조직위원회</li>
              <li>"비올레타, 사랑해!" 공동창업 - 오프라인 커피/손편지 선물 서비스</li>
              <li>"플레이코업" 공동창업, 개발 - 온라인 Crowdsourcing 서비스</li>
            </ul>
          </li>
        </ul>
      </div><!-- .columns -->
    </div><!-- .row -->

    <div class="row">
      <h4>도와주시는 분들</h4>
      <p>멋쟁이 사자처럼을 앞에서/뒤에서 도와주시는 분들입니다.</p>
      <ul class="square">
        <li>유하은-서울대학교 시각디자인</li>
        <li>최보금-서울대학교 공업디자인</li>
        <li>김선욱-서울대학교 화학공학, MIT</li>
      </ul>
    </div><!-- .row -->
  </div><!-- .container -->
</article>


<article id="plan">
  <div class="container">  
    <div class="sixteen columns titleset">
      <h2 class="remove-bottom">그리는 꿈</h2>
      <h6 class="subheader"></h6>
    </div>

    <div class="row">
      <div class="one-third column headset">
        <img src="<%= asset_path 'empty.gif' %>" alt="" class="large-icons icon-dashboard" />
        <h3>실전에서 놀기</h3>
        <p>'프로그래밍 못하는 사람들이 모여서 이정도 했습니다.'를 하려는게 아니라, 실제 인류의 삶에 접근해서 영향을 줄 수 있는 서비스를 차근차근 만들게 될 것입니다.</p>
      </div>

      <div class="one-third column headset">
        <img src="<%= asset_path 'empty.gif' %>" alt="" class="large-icons icon-globe" />
        <h3>개발 배우기</h3>
        <p>미친 집중력을 세 달 동안 발휘해봅시다. 쉽진 않을 겁니다. 분명 중간에 그만두고 싶은 순간이 올 겁니다. 하지만 배워놓으면, 인생에 날개가 달릴 겁니다.</p>
      </div>

      <div class="one-third column headset">
        <img src="<%= asset_path 'empty.gif' %>" alt="" class="large-icons icon-link" />
        <h3>여러 시도 많이 하기</h3>
        <p>실제 서비스를 만들기 위한 임시 서비스를 많이 만들어서 경험/실패 쌓아봅시다. snuev.com을 만들때도 이전에 2개의 실패한 서비스가 있었습니다.</p>
      </div>
    </div><!-- .row -->
    
    <div class="row">
      <div class="one-third column headset">
        <img src="<%= asset_path 'empty.gif' %>" alt="" class="large-icons icon-grid" />
        <h3>아이디어 키우기</h3>
        <p>머릿속에만 머물러 있던 아이디어가 세상의 빛을 보면, 더 큰 생각, 다음 생각으로 뻗어 나갈 수 있는 발판이 됩니다. 여러분의 아이디어를 계속 키워나갈 수 있게 될 겁니다. </p>
      </div>

      <div class="one-third column headset">
        <img src="<%= asset_path 'empty.gif' %>" alt="" class="large-icons icon-cloud" />
        <h3>사람들 만나기</h3>
        <p>서울대 이곳 저곳 그곳에 흩어져 있는 사람들이 모일겁니다. 전공이 다양한 사람들이 한 곳에 모여서, 젊은날 같은 꿈을 꾸는것만큼 즐거운일이 있을까요.</p>
      </div>

      <div class="one-third column headset">
        <img src="<%= asset_path 'empty.gif' %>" alt="" class="large-icons icon-cert" />
        <h3>내 인생 살기</h3>
        <p>남의 일을 해 주지 말고, 내 일을, 내가 만들어서, 내가 하는, 내 삶을 살아가는데 IT 만큼 좋은게 어디있을까요.</p>
      </div>
    </div><!-- .row -->
  </div><!-- container -->
</article>


<article id="recruit" class="dark">
  <div class="container">  
    <div class="two-thirds column">
      <h3>함께하기</h3>
      <ul class="square">
        <li><h4>모든 양식은 자유입니다. 다음 세가지 내용을 중심으로 보내주세요.</h4></li>
        <ul class="circle">
          <li><h5>자기소개</h5></li>
          <li><h5>만들고 싶은 IT 서비스가 무엇이 있는지</h5></li>
          <li><h5>그것을 위해서 지금까지 해온 일, 할 일</h5></li>
        </ul>
      </ul>
      <ul class="square">
        <li><h4>접수기간 : 2013년 2월 22일(금) 23:59 까지</h4></li>
        <li><h4>보내 실 곳 (또는 질문하실곳) : tomato@likelion.net</h4></li>
        <li><h4>발표 : 2013년 2월 28일(목) 13:00</h4></li>
        <li><h4>현재 접수 인원은 2012년 2월 19일(화) 23:59 부터 업데이트 합니다.</h4></li>
        <li><h4>함께하게되는 모든 분들의 프로필은 이 페이지와 페이스북 페이지에 공개됩니다.</h4></li>
      </ul>
    </div>
    <div class="one-third column">
      <h3>질문</h3>
      <ul class="square">
        <li><h4><u>왜 하느냐?</u> : 재미있을것 같고, 의미있을것 같고, 잘 할 수 있을것 같아서요.</h4></li>
        <li><h4><u>필요한 물품은?</u> : 노트북 한대는 꼭 준비해주세요. Windows/Mac 상관없습니다.</h4></li>
        <li><h4><u>장소는?</u> : 현재 낙성대입구에 있는 "오렌지연필" 까페 2층에 있습니다.</h4></li>
        <li><h4><a href="https://www.facebook.com/pages/%EB%A9%8B%EC%9F%81%EC%9D%B4-%EC%82%AC%EC%9E%90%EC%B2%98%EB%9F%BC/540051412686326" target="_blank">Facebook 페이지 바로가기</a></h4></li>
      </ul>
    </div>
  </div><!-- container -->
</article>

</div><!-- #main -->


</body>
</html>
